* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

main {
    text-align: center;
}

#options {
    margin: 10px;
}

#game-infos {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#game { 
    display: inline-block;
    align-self: center;
    border: 1px solid black;
}

#mines-field > div { 
    display: flex;
}

#mines-field > div > div {
    height: 20px;
    width: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background-color: #ccc;
    border: 1px solid gray;
    padding: 1px;
}

#mines-field > div > div.exploded { 
    background-color: red;
}

#mines-field > div > div > button {
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 2px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.color-1 {
    color: Blue;
}
.color-2 {
	color: Green	
}
.color-3 {
	color: Red	
}
.color-4 {
	color: Purple	
}
.color-5 {
    color: Maroon	
}
.color-6 {
    color: Turquoise
}
.color-7 {
	color: Black	
}
.color-8 {
	color: Gray	
}